.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  text-align: center;
}

.App-header {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  color: #0084ff;
}

@media only screen and (max-width: 600px) {
  .App-header {
    font-size: 20px;
    padding: 5px;
  }
}


.ChatLog {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 800px;
  overflow-y: auto;
  padding: 10px;
  background-color: #444654;
  background: url(imgs/currentBackground.png);
  border-radius: 10px;
}

.UserMessage {
  align-self: flex-end;
  background-color: #343541;
  color: #fff;
  border-radius: 15px 15px 0 15px;
  max-width: 80%;
  padding: 10px;
  margin: 5px 10px 5px 0;
}

.BotMessage {
  align-self: flex-start;
  background-color: #f2f2f2;
  color: #333;
  border-radius: 15px 15px 15px 0;
  max-width: 80%;
  padding: 10px;
  margin: 5px 0 5px 10px;
}

.ChatForm {
  display: flex;
  margin-top: 20px;
}

.ChatForm input {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border-radius: 20px;
  border: none;
  margin-right: 10px;
}

.ChatForm button {
  background-color: #0084ff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.ChatForm button:hover {
  background-color: #0073e6;
}

.loading {
  position: relative;
  overflow: hidden;
  border-radius: 3px;
}

.loading:before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #fff;
  border-top-color: transparent;
  animation: spin 0.7s ease infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}


